<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-buttons slot="end" routerLink="/nuevo-habito">
      <ion-button>
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="small">Todos los habitos</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-button expand="full" fill="outline" routerLink="/nuevo-habito">Agregar un nuevo habito</ion-button>
  <img src="assets/habito.png" class="logo">
</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-item class="letracolor">Created by Alan Val</ion-item>
  </ion-toolbar>
</ion-footer> 