<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-buttons slot="end" routerLink="/nuevo-habito">
      <ion-button>
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="small">Todos los habitos</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <div *ngIf="!habitos">
    <ion-button expand="full" fill="outline" routerLink="/nuevo-habito">Agregar un nuevo habito</ion-button>
    <img src="assets/habito.png" class="logo">
  </div>
  <div *ngIf="habitos">
    <ion-list>
      <ion-item *ngFor="let data of habitos">
        <ion-avatar slot="start">
          <div class="{{data.color}}"></div>
        </ion-avatar>
        <ion-label>
          <h2>Nombre {{data.nombre}}</h2>
          <h2>Descripcion: {{data.descripcion | date:'shortDate'}} </h2>
          <h2>Fecha inicio: {{data.fechainicio | date:'shortDate'}}</h2>
          <h3>Fecha Fin: {{data.fechafin}}</h3>
          <h3>Frase motivacional:  {{data.frasemotivacional}}</h3>
        </ion-label>        
      </ion-item>
    </ion-list>
  </div>
</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-item class="letracolor">Created by Alan Val</ion-item>
  </ion-toolbar>
</ion-footer> 