<ion-header background="primary">
  <ion-toolbar background="tertiary">
    <ion-buttons slot="start">
      <ion-button class="custom-button" autoHide="false" routerLink="/nuevo">Cancelar</ion-button>
    </ion-buttons>

    <ion-buttons size="small" slot="end">
      <ion-button class="custom-button" size="small" autoHide="true" routerLink="/guardar">Guardar</ion-button>
    </ion-buttons>

    <ion-title class="ion-title" size="small">Nuevo hábito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label required="true" size="15" type="text" position="floating">Nombre del habito:</ion-label>
    <ion-input value=''></ion-input>
  </ion-item>

  <ion-item>
    <ion-label required="true" size="30" type="text" position="floating">Describa su habito:</ion-label>
    <ion-input value=''></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label required="true" size="15" type="text" >Elija un color:</ion-label>
    <ion-select value="primary" [(ngModel)]="color">
      <ion-select-option value="primary">Azul</ion-select-option>
      <ion-select-option value="secondary">Azulcielo</ion-select-option>
      <ion-select-option value="danger">Rojo</ion-select-option>
      <ion-select-option value="light">Blanco</ion-select-option>
      <ion-select-option value="dark">Negro</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label required="true" size="15" type="text" >Elija una hora del dia:</ion-label>
  </ion-item>
  <ion-item>
        <ion-list>
      <ion-radio-group value="biff" [(ngModel)]="hora" >
    
        <ion-item>
          <ion-label>Mañana</ion-label>
          <ion-radio slot="start" value="biff"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Tarde</ion-label>
          <ion-radio slot="start" value="griff"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Noche</ion-label>
          <ion-radio slot="start" value="buford"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-item>

  <ion-item required="true" size="15" type="text">Elija fecha de inicio:
    <ion-label>DDDD MMM D, YYYY</ion-label>
    <ion-datetime displayFormat="DDDD MMM D, YYYY" min="2021" max="2030" [(ngModel)]="fechainicio" ></ion-datetime>
  </ion-item>
  

  <ion-item required="true" size="15" type="text">Elija fecha de fin:
    <ion-label>DDDD MMM D, YYYY</ion-label>
    <ion-datetime displayFormat="DDDD MMM D, YYYY" min="2021" max="2030" [(ngModel)]="fechafin" ></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label size="15" type="text" position="" >Frase motivacional:</ion-label>
    <ion-input placeholder="Opcional"  [(ngModol)]="frasemotivacional"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button>Guardar</ion-button>
  </ion-item>
</ion-content>
